<h1>Gallery</h1>
<div class ="container">
<div class="row">
<%= @services.each do |service| %>

    <% service.photos.each do |photo| %>
    <div class="col-xs-6 col-sm-6 col-md-4">
      <div class = "service_photo" style = "background-image: url( '<%= cl_image_path photo.path, width: 360, height: 240, crop: :fill  %>' ) " >

      </div>
    </div>
    <% end %>
<% end %>
  </div>
</div>
</div>
