<%= render 'shared/navbar_show' %>
<div class="container">
<h1>Services#show</h1>
<p>Find me in app/views/services/show.html.erb</p>
<h1>
  <%= @service.name.capitalize %>
</h1>

<h3> <%=  @service.text %> </h3>
<div>
<% @service.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>
</div>
</div>
