<div class="footer">


   <div class="col-md-3" >
  <div class="footer-left">
    <h2>R Lees Building</h2>
  </div>
  </div>


  <div class="col-md-6">
<div class="address_footer">

  <p>123 High Street, Malton, North Yorkshire, Postcode </p>
  </div>
  </div>


  <div class="col-md-3">
  <div class ="footer-right text-left">
    <%= link_to "Contact", contacts_path,
    class: "navbar-item navbar-link" %>
    <%= link_to "About", pages_about_path,
    class: "footer-item navbar-link" %>
  </div>
  </div>
</div>

