<div class="navbar">


   <div class="col-md-3" >
  <div class="navbar-left">
    <h2>R Lees Building</h2>
  </div>
  </div>


  <div class="col-md-6">
<div class="logo_navbar">
  <%= image_tag "logo1.svg" %>
  </div>
  </div>


  <div class="col-md-3">
  <div class ="navbar-right text-left">
    <%= link_to "Contact", pages_contact_path,
    class: "navbar-item navbar-link" %>
    <%= link_to "About", pages_about_path,
    class: "navbar-item navbar-link" %>
  </div>
  </div>
</div>

